@import "./scss/fonts";

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Times New Roman", serif;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

@import "./scss/header";
@import "./scss/desc";
@import "./scss/articles";
@import "./scss/details";
@import "./scss/pixel";
@import "./scss/onboard";
@import "./scss/sales";
@import "./scss/footer";