.articles {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto auto 100px auto;
  color: #ffffff;
}

.article-small {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 0 0 33%;
  min-width: 390px;
  min-height: 280px;
  padding: 40px 40px 40px 40px;
  box-sizing: border-box;
}

.article-large {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 66%;
  min-width: 780px;
  min-height: 280px;
  padding: 40px 40px 40px 40px;
  box-sizing: border-box;}

.description-article {
  display: block;
  height: 23px;
  width: 140px;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  background: url('../../static/images/right-arrow.png') no-repeat right center;
  background-size: 15px 10px ;
  transition: 0.5s;
}

.description-article:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

.article-title {
  font-size: 30px;
  font-weight: 100;
}

.first-article {
  background-color: #f5989d;
}

.second-article {
  background-color: #615f7d;
}

.third-article {
  background: url("../../static/images/layer3.jpg") no-repeat;
}

.fourth-article {
  background: url("../../static/images/layer4.jpg") no-repeat;
}

.article-large__preview-desc {
  width: 65%;
}

.fifth-article {
  background-color: #82ca9c;
}