.desc {
  position: relative;
  height: 100%;
  margin: 100px auto 100px auto;
}

.title-about {
  font-size: 35px;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
}

.img-iphone {
  position: absolute;
  bottom: 200px;
  right: -70px;
}

.about {
  columns: 2;
  break-inside: avoid;
}

.text {
  position: relative;
  flex: 0 0 calc(50% - 20px);
  font-size: 14px;
  color: #959595;
}

.right-block {
  padding-top: 95px;
}