.details {
  display: flex;
  flex-direction: column;
  margin: auto auto 100px auto;
}

.head-details {
  font-size: 35px;
  font-weight: 100;
  margin: 0 0 60px 0;
}

.details-articles {
  display: flex;
}

.article-block {
  width: calc((100% / 4) - 60);
  min-height: 140px;
}

.article-block:not(:last-child) {
  margin-right: 40px;
}

.head-block {
  font-size: 13px;
  font-weight: 600;
  color: #67676d;
  margin: 0 0 25px 0;
}

.desc-block {
  font-size: 14px;
  font-weight: normal;
  color: #959595;
}
