@font-face {
  font-family: "Open Sans";
  src: url("../../static/fonts/OpenSans-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../../static/fonts/OpenSans-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans Italic";
  src: url("../../static/fonts/OpenSans-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("../../static/fonts/OpenSans-Light.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../../static/fonts/OpenSans-LightItalic.ttf");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("../../static/fonts/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: url("../../static/fonts/Merriweather-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}