footer {
  background-color: #192431;
}

.list-end {
  height: 610px;
  display: flex;
  padding-top: 125px;
  box-sizing: border-box;
}

.touch {
  display: flex;
  flex-direction: column;
  width: 50%;
  box-sizing: border-box;
}

.navigation {
  display: flex;
  color: #f6f7fa;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 13px;
  font-weight: normal;
}

ul:not(:nth-child(3)) {
  padding-right: 90px;
}

li {
  padding-bottom: 5px;
}

.footer-link {
  color: #f6f7fa;
  text-decoration: none;
  transition: 0.6s;
}

.footer-link:hover {
  color: #93adf9;
  transition: 0.6s;
}

.footer-heads {
  font-size: 13px;
  font-weight:  normal;
  padding-left: 5px;
}

.touch, .sit {
  color: #f6f7fa;
}

.git-head, .sit-head {
  font-size: 13px;
  font-weight:  600;
}

.sit {
  display: flex;
  flex-direction: column;
  padding-left: 115px;
  box-sizing: border-box;
}

form {
  width: 100%;
  height: 55px;
}

input {
  width: 400px;
  height: 55px;
  float: left;
  border: none;
  padding-left: 15px;
  font-size: 25px;
  box-sizing: border-box;
}

button {
  position: relative;
  width: 70px;
  height: 55px;
  float: right;
  border: 0;
  background: url('../../static/images/galka.png') no-repeat 50% 50% #82ca9c;
}

.post-scriptum {
  font-size: 12px;
  font-weight: normal;
  color: #57697f;
  user-select: none;
}