header {
  width: auto;
  height: 940px;
  margin: 0;
  padding: 0;
  background-image: url('../../static/images/fon.jpg');
}

.perfect {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  width: auto;
  font-size: 14px;
  margin: 550px 0 0 40px;
  transform: rotate(-90deg);
  opacity: 0.5;
  color: #ffffff;
}

.preview {
  position: relative;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  height: 100%;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 80px;
  width: auto;
  height: auto;
}

.logo-text {
  font-size: 20px;
  font-family: "Merriweather", sans-serif;
}

.picture-perfect {
  width: 40%;
  padding-top: 300px;
}

h1 {
  font-size: 60px;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  margin: 0;
}

p {
  font-size: 13px;
}