
.box-onboard {
  display: block;
  width: auto;
  height: 540px;
  background-color: #82ca9c;
  color: #ffffff;
}

.takpapp {
  position: relative;
  display: inline-block;
  height: auto;
  width: auto;
  font-size: 13px;
  text-decoration: none;
  transform: rotate(-90deg);
  color: #ffffff;
  top: 220px;
  left: 50px;
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  box-sizing: border-box;
}

.head-board {
  font-size: 35px;
  font-weight: 100;
}

.block-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.block-onboard {
  width: calc((100% / 3) - 20px);
  height: auto;
}

.head-board-block {
  font-size: 13px;
  font-weight: 600;
}