.pixel {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: auto;
  height: 1080px;
  background: url("../../static/images/fon2.jpg");
  color: #ffffff;
  padding-bottom: 150px;
  box-sizing: border-box;
}

.power-article {
  width: 540px;
  min-height: auto;
  margin: 0;
  padding: 0;
}

.power {
  font-size: 60px;
  font-weight: 100;
}

.power-desc {
  font-size: 13px;
  font-weight: normal;
}
