
.block-sales  {
  height: 630px;
  background-color: #f6f7fa;
}

.sales {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.sale-item {
  width: 570px;
  height: 380px;
  padding: 45px 0 0 50px;
  box-sizing: border-box;
  transition: 0.5s;
}

.sale-item:first-child {
  margin-right: 15px;
}

.tag {
  display: inline-block;
  vertical-align: top;
  padding: 5px 15px;
  text-decoration: none;
  color: #ffffff;
  font-size: 11px;
  font-weight: 900;
  background-color: #e1e1e1;
  width: auto;
  height: auto;
  border-radius: 8px;
  transition: 0.5s;
}

.sale-item:hover {
  box-shadow: 0 0 50px 2px #dddedf;
  background-color: #fff;
  .tag{
    background-color: #bd8cbf;
    transition: 0.5s;
  }

  transition: 0.5s;
}

.sale-title {
  margin: 20px 0;
  padding: 0;
  font-size: 30px;
  font-weight: 100;
}

.sale-description {
  padding-right: 80px;
  margin: 0 0 25px 0;
  font-size: 14px;
  color: #8297a7;
}

.buy-button {
  display: inline-block;
  padding: 15px 22px;
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  color: #ffffff;
  background-color: #82ca9c;
  border-radius: 5px;
  transition: 0.7s;

  &:hover {
    background-color: #48AD1F;
    transition: 0.7s;
  }
}

.sup-platforms {
  margin-top: 15px;
}

.sup-img:not(:nth-child(2)) {
  margin-right: 10px;
}
