//@mixin setFont($fontName, $fontFile, $weight, $style) {
//  @font-face {
//    font-family: #{$fontName};
//    src: url('~static/fonts/#{$fontFile}.woff2') format('woff2'),
//    url('~static/fonts/#{$fontFile}.woff') format('woff');
//    font-weight: $weight;
//    font-style: $style;
//  }
//}
//
//@font-face {
//  font-family: 'icomoon';
//  src: url('~static/fonts/icomoon.woff') format('woff'),
//  url('~static/fonts/icomoon.svg') format('woff'),
//  url('~static/fonts/icomoon.eot') format('woff');
//  font-weight: normal;
//  font-style: normal;
//}
//
//@include setFont('GrotesqueBold', 'BasisGrotesquePro-Bold', bold, normal);
//@include setFont('GrotesqueLight', 'BasisGrotesquePro-Light', normal, normal);
//@include setFont('Grotesque', 'BasisGrotesquePro-Regular', normal, italic);