$white: #ffffff;
$black: #000000;
$grey: #888888;

$Grotesque: 'Grotesque', 'Arial', 'Helvetica', sans-serif;
$GrotesqueBold: 'GrotesqueBold', 'Arial', 'Helvetica', sans-serif;
$GrotesqueLight: 'GrotesqueLight', 'Arial', 'Helvetica', sans-serif;

$imagesPath: '~static/images';

// easings
$bounce: cubic-bezier(0.68, -0.55, 0.265, 1.55);
$easeInCubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$easeInQuart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
$easeInCubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$easeOutSine: cubic-bezier(0.39, 0.575, 0.565, 1);